<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url %>
<%# Declares a partial with the following collection so it can find the correct file within directory %>

<%= render partial: "portfolio_item", collection: @portfolio_items %>
